.posts {
  width: 100%;
  max-width: 700px;
  transition: 200ms ease;
}

.posts:first-child {
  border-radius: 16px 16px 0px 0px;
}

.post:first-of-type {
  border-radius: 16px 16px 0px 0px;
}

.posts:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.post-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  background: var(--bg-surface);
  width: 100%;
  max-width: 700px;
  transition: 200ms;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.post-flex {
  display: flex;
}

.post .right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.post-image {
  max-width: 90%;
  height: auto;
}

.post-user {
  font-weight: bold;
  color: var(--text-primary);
  width: fit-content;
}

.post-content {
  margin-top: 0.5rem;
  opacity: 0.9;
}

.profile-info-top {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.timeago {
  opacity: 0.7;
  font-size: smaller;
}

.amount {
  margin: 1rem 0;
  text-align: center;
  color: var(--text-secondary);
  padding: 4px 8px;
  border-radius: 16px;
  transition: 300ms;
}

.amount:hover {
  color: var(--accent-primary);
  background-color: var(--border-color)
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}

.comment {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.comment-top {
  display: flex;
  gap: 0.5rem;
}

.addComment {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  justify-content: space-around;
}

.addComment input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 16px;
  border: 1px solid var(--border-color);
}